
#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 80%;
  font-family: sans-serif;
  background: url(https://data.pixiz.com/output/user/frame/2/7/6/5/255672_1f3f7.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  } */

#nav {
  display: flex;
  flex-direction: row;
  background-color: pink;
  width: 100%;
  height: 70px;
  align-items: flex-end;
}

#navlinks {
  display: flex;
  /* display: inline-block; */
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 20px;
}

#nav a {
  color: white;
  padding: 20px;
  font-size: 20px;
  border: white solid 2px;
  border-bottom: 0px;
  text-decoration: none;
  border-radius: 10%;
}

#nav a:hover {
  background: white;
  color: pink;
}

#title{
  color: white;
  font-size: 40px;
}

.btn {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  /* background-color: pink; */
}

.menubuttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 200px;
  padding-left: 200px;
}

#menu {
  background-color: pink;
  border-radius: 50%;
  padding: 50px;
  margin: 10px;
  font-size: 40px;
}

.menu:hover {
  background-color: lightblue;
}

.random {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  padding-bottom: 50px;
}

.header {
  display: flex;
  justify-content: center;
  color: darkturquoise;
  font-size: 60px;
  padding-top: 20px;
  padding-bottom: 80px;
}

#shapebuttons {
  display: flex;
  justify-content: center;
  margin-left: 150px;
}

.shapes {
  background-color: pink;
  border-radius: 50%;
  padding: 30px;
  margin: 10px;
  font-size: 40px;
  color: white;
  
}

.shapes:hover {
  background-color: lightblue;
  text-decoration: none;
}

#abcbuttons {
  display: flex;
  justify-content: center;
  margin-left: 150px;
}

.abc {
  background-color: pink;
  border-radius: 50%;
  padding: 30px;
  margin: 10px;
  font-size: 40px;
  color: white;
}

.abc:hover {
  background-color: lightblue;
}

#numbuttons {
  display: flex;
  justify-content: center;
  margin-left: 150px;
}

.num {
  background-color: pink;
  border-radius: 50%;
  padding: 30px;
  margin: 10px;
  font-size: 40px;
  color: white;
}

.num:hover {
  background-color: lightblue;
}


#randombuttons {
  display: flex;
  justify-content: center;
}

.randoms {
  background-color: pink;
  border-radius: 50%;
  padding: 50px;
  margin: 10px;
  font-size: 40px;
  color: white;
}

.randoms:hover {
  background-color: lightblue;
}

